* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    background-color: #000;
    color: #999;
}

img {
    max-width: 100%;
}

html {
    scroll-behavior: smooth;
}

/* Title Page */

.title_text {
    font-size: 5rem;
    text-align: center;
    align-items: center;
    margin: auto;
    padding-top: 8rem;
}


.title_background {
    width: 100%;
    height: 55vh;
    background: url(https://jooinn.com/images/italian-food-background-1.jpg) no-repeat center center/cover;
    position: relative;
    color: white;
    box-shadow: inset 10px 10px 150px #000000,
        inset -1px -10px 150px #000000;
    z-index: 0;
}

.title_top {
    z-index: 1;
}

.logo {
    width: 5%;
    padding-top: 0.5rem;
    padding-left: 1rem;
}

.about_pic {
    width: 100%;
    border: 3px solid rgb(255, 94, 0, 0.8);
}

.btn {
    display: block;
    background-color: rgb(255, 94, 0);
    color: white;
    padding: 0.7rem;
    font-size: 1.5rem;
    text-align: center;
    border: none;
    cursor: pointer;
    margin-right: 0.5rem;
    outline: none;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.45);
    border-radius: 2px;
    text-decoration: none;
    margin: 1rem;
}

.btn-danger {
    color: white;
    background-color: rgb(255, 94, 0);
    border: none;
    border-radius: .3em;
    font-weight: bold;
}

.btn-danger:hover {
    background-color: #CC4C4C;
}

.btn-add {
    display: block;
    color: rgb(255, 94, 0);
    font-size: 1.7rem;
    border: none;
    cursor: pointer;
    outline: none;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.45);
    text-decoration: none;
    width: 15%;
    float: right;
    margin-right: 0;
    background-color: transparent;
}

.btn_cart {
    float: right;
}

.btn:hover {
    opacity: 0.9;
}

.btn-rounded {
    border-radius: 5px;
}

.btn-icon {
    margin-left: 1rem;
}

.btn_title {
    position: relative;
    margin: auto;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 1rem;
    z-index: 2;
    width: 10rem;
}

.tabs {
    background: #141414;
    padding-top: 1rem;
    border-bottom: 3px solid #3d3d3d;
}

.tabs .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.tabs p {
    font-size: 1.2rem;
    padding-top: 0.5rem;
}

.tabs .container>div {
    padding: 1.5rem 0;
}

.tabs .container>div:hover {
    color: white;
    cursor: pointer;
}

.tab-border {
    border-bottom: rgb(255, 94, 0) 4px solid;
}

.tab-content {
    padding: 3rem 0;
    background: black;
    color: white;
}

.tab-item {
    color: white;
}



#tab-1-content,
#tab-2-content,
#tab-3-content {
    display: none;
}


.show {
    display: block !important;
}


#tab-1-content .tab-about-inner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10rem;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-left: 15rem;
}

#tab-2-content .tab-2-content-bottom1 {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#tab-2-content .tab-2-content-bottom2 {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.table {
    width: 100%;
    margin-top: 2rem;
    border-collapse: collapse;
    border-spacing: 0;
}

.table thead th {
    text-transform: uppercase;
    padding: 0.8rem;
}

.table tbody tr td {
    color: #999;
    padding: 0.8rem 1.2rem;
    text-align: center;
}

.table tbody tr td:first-child {
    text-align: left;
}

.table tbody tr:nth-child(odd) {
    background: #222;
}

.container {
    max-width: 70%;
    margin: auto;
    overflow: hidden;
    padding: 0 2rem;
}

.shop-item-title,
.shop-item-price {
    font-size: 1.2rem;
}

.shop-item-image {
    transition: transform ease-in-out 0.3s;
    border: 2px solid rgb(255, 94, 0);
}

.shop-item-image:hover {
    transform: scale(2);
}

.cart-item-image {
    width: 100px;
    border-radius: 10px;
}

.text-xl {
    font-size: 70%;
    margin-bottom: 1rem;
}

.text-lg {
    font-size: 1.8rem;
    margin-bottom: 1rem;
}

.text-center {
    text-align: center;
}

.text-dark {
    color: #999;
}

.text-md {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.footer {
    max-width: 75%;
    margin: 1rem auto;
    overflow: auto;
}

.footer,
.footer a {
    color: #999;
    font-size: 0.9rem;
}

.footer p {
    margin-bottom: 1.5rem;
}

.footer .footer-cols {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
}

.footer li {
    line-height: 1.9;
}

.btn-cart {
    text-align: center;
    vertical-align: middle;
    padding: .67em .67em;
    cursor: pointer;
}

.content-section {
    margin: 1em;
}

.cart-container {
    max-width: 900px;
    margin: 0 auto;
    padding: 0 1.5em;
}

.section-header {
    color: white;
    text-align: center;
    font-size: 2em;
}

.cart-row {
    display: flex;
}

.cart-item {
    width: 45%;
}

.cart-item-title {
    color: white;
    margin-left: 0.5em;
    font-size: 1.2em;
}

.cart-quantity-input {
    height: 34px;
    width: 50px;
    border-radius: 5px;
    background-color: rgb(255, 94, 0);
    color: white;
    padding: 0;
    text-align: center;
    font-size: 1.2em;
    margin-right: 25px;
    margin-top: 2.5rem;
}


.cart-header {
    font-weight: bold;
    font-size: 1rem;
    color: white;
}

.cart-column {
    display: flex;
    align-items: center;
    border-bottom: 1px solid white;
    margin-right: 1.5em;
    padding-bottom: 10px;
    margin-top: 10px;
}

.cart-price {
    width: 20%;
    font-size: 1.2em;
    color: white;
}

.cart-quantity {
    width: 35%;
}

.cart-total {
    text-align: end;
    margin-top: 10px;
    margin-right: 10px;
}

.cart-total-title {
    font-weight: bold;
    font-size: 1.5em;
    color: white;
    margin-right: 20px;
}

.cart-total-price {
    color: white;
    font-size: 1.1em;
}

.btn-primary {
    color: white;
    background-color: rgb(255, 94, 0);
    border: none;
    border-radius: .3em;
    font-weight: bold;
}

.btn-primary:hover {
    opacity: 0.9;
}

.btn-purchase {
    display: block;
    margin: 40px auto 80px auto;
    font-size: 1.3em;
}